{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
  "extends":  [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": [2, "single"]
  }
}